body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
}
fieldset {
    background-color: #fff;
    width: 300px;
    padding: 20px;
}
h3 {
    margin: 0 0 20px 0;
    font-size: 1.2em;
    color: #333;
}
label {
    display: block;
    margin-bottom: 8px;
    font-size: 0.9em;
}

input[type="text"], input[type="date"] {
    width: 100%;
    padding: 8px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #ff6a00;
    color: #fff;
    border: none;
}
